:root {
  --font-body: "Cause", sans-serif;
  --font-display: "Cause", sans-serif;

  color: #213547;
  background-color: #ffffff;

  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  max-height: 1000000px; /* Prevents Chrome text autosizing quirk */
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  display: block;
  font-family: var(--font-body);
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-display {
  font-family: var(--font-display);
  font-weight: 600;
}

h1 {
  line-height: 1.1;
}

.font-body {
  font-family: var(--font-body);
}

input,
textarea,
select,
button {
  font-family: var(--font-body);
  font-size: 16px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #747bff;
}
